body {
    font-family: 'Courier New', Courier, monospace;
    /* view height */
    height: 100vh;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center; 
    align-content: center;
    text-align: center;
    background-color: lightyellow;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";   
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch; 
    align-content: space-around;
    /* flex-start, center, baseline */
}

header {
    background-color: darkgrey;
    display: block;
    width: 100%;
    height: 120px;
    /* border-bottom: 20px solid rgb(92, 179, 52); */
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 15px;
    color: rgb(187, 54, 83);
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#plants {
    color: green;
}

#vs {
    font-size: 25px;
    font-weight: bold;
    color: rgb(187, 54, 83);
}

#zombies {
    color: rgb(78, 76, 76);
}

#main {
    display: inherit;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: ligthyellow;
    width: 100%;
    margin: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 15vmin);
    grid-template-rows: repeat(3, 15vmin);
    margin: 50px 15px;

}

.cell {
    border: 3px solid orangered;
}

#zombiesWin {
    margin-top: 30px;
    padding: 10px;
    color: orangered;
    font-size: 30px;
    font-weight: bold;
}

#resetBtn {
    display: block;
    background-color: lightgreen;
    padding: 1vmin 5vmin;
    max-width: 100px;

}

footer {
    display: flex;
    flex-flow: row wrap;
    background-color: lightyellow;
    width: 100%;
    height: 10%;
    /* align-items: center;  */
    align-content: flex-end;
    justify-content: center;
}

#credits {
    font-size: 12px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#signature {
    padding: 20px;
    background-color: rgb(161, 240, 96);
    width: 100%;
    font-size: 18px;
    height: 20%;
}

.message {
    margin: 15x;
    padding: 0px 15px;
}

.name {
    color: orangered;
    font-weight: 700;
    margin: 15x;
}
