body {
    font-family: 'Courier New', Courier, monospace;
    /* view height */
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; 
    align-content: space-around;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";   
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch; 
    align-content: space-around;
    /* flex-start, center, baseline */
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
}

.cell {
    border: 3px solid black;
}